@model BookStore.WebUI.Dtos.CategoryDtos.CreateCategoryDto
@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


@* <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" /> *@

<form method="post">
    <div class="container">
        <br /><br />

        <div class="form-group">
            <label>Kategori Adı</label>
            <input type="text" class="form-control" asp-for="CategoryName" />
        </div>
        <br />
        <button type="submit" class="btn btn-success">Kaydet</button>
    </div>
</form>